__pycache__
.*.swp
.*.swo
.DS_Store
.ipynb_checkpoints
*.grammars

backup_results/
figures/
results/
trash/
old_*/

data/*
!data/readme.md
!data/analyse.py
!data/process.py
!data/email-dnc/readme.md
!data/email-dnc/email-dnc.tar.gz
!data/email-enron/readme.md
!data/email-enron/email-enron.tar.gz
!data/email-eucore/readme.md
!data/email-eucore/email-eucore.tar.gz
!data/facebook-links/readme.md
!data/facebook-links/facebook-links.tar.gz

notebooks/*
!notebooks/plotting.ipynb
!notebooks/random.ipynb
!notebooks/saturation.ipynb
!notebooks/generation.ipynb
